@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Montserrat&display=swap');

* {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.container {
    background-color: #F3EAE3;
    padding: 1.25rem 0.5rem 1.25rem 0.5rem;
    width: fit-content;
}

.card {
    justify-content: center;
   
}

.category, .card-text {
    color: #aaaaaa;
    font-size: 0.75rem;
    font-weight: 500;
}

.card-title {
    font-family: 'Fraunces', serif !important; 
    font-weight: 700;
    font-size: 1.75rem;
}

.prices {
    display: flex;
    text-align: center;
}

.price {
    color: #3d8168;
    font-weight: 700;
    font-family: 'Fraunces', serif !important;
}

.line-price {
    margin: 0.8rem 0 0 2rem;
    text-decoration: line-through;
    color: #aaaaaa;
    font-size: 0.75rem;
}

h5, .price {
    font-size: 1.75rem;
}

.btn {
    width: 100%;
    background-color: #3d8168;
}

.fa-cart-shopping {
    margin-right: 0.5rem;
}

.btn {
    font-size: 0.75rem;
}